# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual env
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# Env vars
.env
.env.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Artefactos del modelo (descomenta si NO quieres versionarlos)
# artifacts/*.pkl
# artifacts/metadata.json
